.sugg-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  color: #574747;
  margin-top: 48px;
  margin-bottom: 32px;
}

.Suggestions {
  display: flex;
  gap: 24px;
  align-items: center;
}
